# Protect our files from being overwritten during sync
README.md merge=ours
STARDAWN_VERSION merge=ours
.github/workflows/sync.yml merge=ours
.github/workflows/docker-publish.yml merge=ours
.gitattributes merge=ours